<% include partials/header %>
    <div class="container">
        <div class="jumbotron">
            <form action="/tvshows/s" method="GET">
                <div class="input-group">
                    <input class="form-control my-0 py-1 border border-success" type="text" placeholder="Search" aria-label="Search" name="search" required>
                    <div class="input-group-append">
                        <button class="btn btn-success" id="basic-text1" type="submit"><i class="fas fa-search text-grey"
                              aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <h1>Tv Shows</h1>
        <div class="row text-center">
            <% if(bestMovies) { %>
                <% bestMovies.forEach(function(show){ %>
                    <div class="col-lg-4 col-md-6">
                        <div class="img-thumbnail movie-img">
                            <h4><strong><%= show["Title"]%></strong> -
                                <%= show["Year"]%>
                            </h4>
                            <img class="img-responsive" src="<%= show['Poster'] %>" onerror="this.src='/img/not-found.jpg';" alt="Missing Image">
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <h1>No results found</h1>
                            <% } %>
        </div>
    </div>
    <% include partials/footer %>