<% include partials/header %>
    <div class="container">
        <h1>Upcoming Movies</h1>
        <div class="row text-center">
            <% if(bestMovies) { %>
                <% bestMovies.forEach(function(movie){ %>
                    <div class="col-lg-4 col-md-6">
                        <div class="img-thumbnail movie-img">
                            <h4><strong><%= movie["Title"]%></strong> -
                                <%= movie["Year"]%>
                            </h4>
                            <img class="img-responsive" src="<%= movie['Poster'] %>">
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <h1>No results found</h1>
                            <% } %>
        </div>
    </div>
    <% include partials/footer %>